@import './normalize.css';

:root {
    --border-radius: 15px;
    --border-radius-large: 25px;
    --border-radius-small: 5px;
    --color-accent: #2cff10;
    --color-alternative1: #b26ae1;
    --color-body-var: var(--color-light);
    --color-body: var(--color-secondary);
    --color-border-light: rgba(255, 255, 255, .5);
    --color-border-lightest: rgb(217, 217, 217);
    --color-border-dark: rgba(52, 52, 52, .5);
    --color-business: #6457dc;
    --color-headings-var: var(--color-light);
    --color-headings: var(--color-primary);
    --color-hover-business: rgba(66, 45, 252, 0.2);
    --color-hover-colored-dark: #16ad02;
    --color-hover-dark: rgba(52, 52, 52, 0.1);
    --color-hover-text-dark: #111;
    --color-hover-light: #d9d9d9;
    --color-hover-primary: rgba(44, 255, 16, 0.3);
    --color-light: #fff;
    --color-primary: #18c701;
    --color-secondary: #343434;
    --margin-vertical: 100px;
    --grid-gap: 100px;
    --form-gap: 10px;
    --padding-horizontal-big: 100px;
    --padding-horizontal-small: 30px;
    --padding-vertical: 50px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography */
::selection {
    background: var(--color-accent);
    color: var(--color-light);
}

html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-family: DM Sans, Inter, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    margin: 0;
}

body .block--colored,
body .block--dark {
    color: var(--color-light);
}

a {
    cursor: pointer;
}

h2,
h3,
h4 {
    font-family: Inter, DM Sans, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 8rem;
    font-weight: 900;
    line-height: 10.5rem;
    margin: 0 0 20px 0;
    text-align: center;
}

h2 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.9rem;
    margin: 0 0 20px 0;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

h4 {
    font-weight: 600;
    margin: 0;
}

.section-header {
    margin-bottom: 40px;
}

.color .section-header {
    margin-bottom: 20px;
}

p {
    margin: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.6rem;
    }

    h1 {
        font-size: 10rem;
    }

    h3 {
        font-size: 2.5rem;
    }
}

/* Links */
a {
    text-decoration: none;
}

.link {
    border-radius: var(--border-radius-small);
    font-family: Inter, DM Sans, Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    transition: background-color .15s, color .15s;
}

.link--dark {
    color: var(--color-body);
}

.link--light {
    color: var(--color-light);
}

.link--colored {
    color: var(--color-primary);
}

.link--business {
    color: var(--color-business);
}

.link--dark-bg {
    background: var(--color-secondary);
}

.link--light-bg, .link--light-bg-accent {
    background: var(--color-light);
}

.link--colored-bg, .link--colored-bg-accent {
    background: var(--color-primary);
}

.link--colored-bg:hover {
    background: var(--color-hover-colored-dark);
}

.link--colored-bg-accent:hover {
    background: var(--color-light);
    box-shadow: 0px 0px 0px 2px var(--color-primary) inset;
    color: var(--color-primary);
}

.link--light-bg:hover {
    background: var(--color-hover-light);
}

.link--light-bg-accent:hover {
    background: var(--color-primary);
    box-shadow: 0px 0px 0px 2px var(--color-light) inset;
    color: var(--color-light);
}

.link--hover-text.link--dark:hover {
    color: var(--color-primary);
}

.link--arrow {
    display: inline-block;
    font-weight: 700;
    margin: 10px;
    text-transform: uppercase;
    padding: 0 10px;
}

.link--arrow.link--colored:hover {
    background: var(--color-hover-primary);
}

.link--arrow.link--business:hover {
    background: var(--color-hover-business);
}

.link--arrow.link--dark:hover {
    background: var(--color-hover-dark);
}

.link__arrow {
    transition: margin .15s;
}

.link--arrow:hover .link__arrow {
    margin-left: 5px;
}

.link--selected {
    color: var(--color-primary);
}

@media screen and (min-width: 1024px) {
    .link {
        font-size: 1.4rem;
    }
}

/* Inputs */
.input {
    background: none;
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-grow: 1;
    margin: 0;
    outline: none;
    padding: 10px 20px;
    width: 100%;
}

.input--light-bg {
    border-color: var(--color-border-dark);
    color: var(--color-body);
}

.input--light-bg::placeholder {
    color: var(--color-border-dark);
}

.input--light-bg:focus {
    border-color: var(--color-body);
}

.input--colored-bg {
    border-color: var(--color-border-light);
    color: var(--color-light);
}

.input--colored-bg::placeholder {
    color: var(--color-border-light);
}

.input--colored-bg:focus {
    border-color: var(--color-light);
}

/* Buttons */
.link__btn {
    display: block;
    font-weight: 700;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
}

.link__btn--light-bg {
    background: var(--color-primary);
    color: var(--color-light);
}

.link__btn--light-bg:hover {
    background: var(--color-light);
    box-shadow: 0px 0px 0px 2px var(--color-primary) inset;
    color: var(--color-primary);
}

.link__btn--colored-bg {
    background: var(--color-light);
    color: var(--color-primary);
}

.link__btn--colored-bg:hover {
    background: var(--color-primary);
    box-shadow: 0px 0px 0px 2px var(--color-light) inset;
    color: var(--color-light);
}

/* Cards */
.card {
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border-lightest);
    overflow: hidden;
    padding: 40px 250px 40px 50px;
    position: relative;
    transition: transform .2s;
}

.card__header {
    text-transform: uppercase;
}

.card__text {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 4.5rem;
    margin-bottom: 15px;
}

.card__link {
    font-size: 3rem;
    line-height: 3rem;
    margin: 0;
    padding: 10px 20px;
    transform:translateX(-2rem);
}

.card__image {
    position: absolute;
    right: -100px;
    top: 3rem;
    transform: scaleX(-1);
    width: 29rem;
}

.card:hover {
    transform: scale(105%);
}

@media screen and (max-width: 600px) {
    .card {
        padding-right: 50px;
    }

    .card__image {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .card__text {
        font-size: 2rem;
    }

    .card__link {
        font-size: 2.5rem;
    }
}

.card--student .card__header {
    color: var(--color-primary);
}

.card--business .card__header {
    color: var(--color-business);
}

/* Sections */
.block {
    margin: var(--margin-vertical) 0;
    overflow: hidden;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 var(--padding-horizontal-small);
    position: relative;
}

.block__sub-heading {
    margin-top: 25px;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 var(--padding-horizontal-big);
    }
}

.block--light {
    background: var(--color-light);
}

.block--light .block__heading,
.block--light .block__sub-heading {
    color: var(--color-primary);
}

.block--colored {
    background: var(--color-primary);
    padding: var(--padding-vertical) 0;
}

.block--dark {
    background: var(--color-secondary);
    border-radius: var(--border-radius-small);
    margin-left: 10px;
    margin-right: 10px;
}

/* Lists */
.list {
    font-size: 1.8rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list--inline .list__item {
    display: block;
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 1024px) {
    .list {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1185px) {
    .list--inline .list__item {
        display: inline-block;
        margin-right: 30px;
    }
}

.block--light .list,
.block--colored .list {
    font-size: 2rem;
    list-style: circle;
    padding: 1rem 0;
}

.block--light .list__item,
.block--colored .list__item {
    transform: translateX(3rem);
}

@media screen and (min-width: 1024px) {
    .block--light .list,
    .block--colored .list {
        font-size: 1.6rem;
    }
}

/* Collapsibles */
.collapsible__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .3s;
}

.collapsible--expanded .collapsible__content {
    max-height: 100%;
    opacity: 1;
}

/* Navigation Bar X */
.menu-icon {
    cursor: pointer;
    height: 25px;
    margin-left: 20px;
    position: relative;
    width: 30px;
  }


.line {
    border-radius: 100px;
    width: 100%;
    height: 3px;
    background-color: var(--color-secondary);
    position: absolute;
    transition: transform 0.3s ease-in-out;
}


.line-1 {
    top: 0;
}


.line-2 {
    top: 50%;
    transform: translateY(-50%);
}


.line-3 {
    bottom: 0;
}


.open .line-1 {
    transform: translateY(11px) rotate(45deg);
}


.open .line-2 {
    opacity: 0;
}


.open .line-3 {
    transform: translateY(-11px) rotate(-45deg);
}

/* Navigation Bar */
.nav__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
}

.nav__header__list {
    display: none;
}

.nav__brand {
    flex-grow: 1;
    max-width: 350px;
    transform: translateY(4px);
}

.nav .list__item {
    border-radius: var(--border-radius-small);
    margin: 10px;
}

.nav .list__item .link {
    display: block;
    font-weight: 700;
    padding: 1px 0;
    width: 100%;
}

.userID {
    text-transform: uppercase;
}

.divider {
    background: var(--color-border-lightest);
    height: 1px;
    width: 100%;
}

@media screen and (min-width: 1185px) {
    .menu-icon {
        display: none;
    }

    .nav__header {
        padding: 0 0 0 20px;
    }

    .nav__brand {
        max-width: 250px;
    }

    .nav .collapsible__content {
        display: none;
    }

    .nav__header__list {
        display: inline-block;
    }

    .nav__header__list .list__item {
        padding: 0;
        margin: 30px 30px 30px 0;
    }

    .nav__header__list .userID {
        background: var(--color-primary);
        margin: 10px 10px 10px 0;
        padding: 0 1.5px;
    }

    .nav__header__list .userID__contents .list__item {
        margin: 20px 15px 20px 15px;
        width: 15rem;
    }

    .userID .link {
        border-radius: var(--border-radius-large);
    }
}

/* Header Block */
.block-page-header__heading {
    color: var(--color-primary);
}

.block-page-header__subtext {
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2.5rem;
    text-align: center;
}

@media screen and (min-width: 375px) {
    .block-page-header__subtext {
        font-size: 2rem;
        line-height: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .block-page-header__subtext {
        font-size: 2.5rem;
        line-height: 3.6rem;
    }
}

@media screen and (max-width: 768px) {
    .block-page-header__heading {
        font-size: 6rem;
        line-height: 8rem;
    }
}

@media screen and (max-width: 425px) {
    .block-page-header__heading {
        font-size: 5rem;
        line-height: 7rem;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 375px) {
    .block-page-header__heading {
        font-size: 4rem;
        line-height: 6rem;
    }
}


/* Grids */
.grid {
    display: grid;
}

.grid--1x2 {
    grid-gap: var(--grid-gap);
}

/* Cards Block */
.block-cards .container {
    overflow: visible;
}

@media screen and (max-width: 440px) {
    .card__header h2 {
        font-size: 3rem;
    }

    .card__text {
        font-size: 2rem;
    }
}

@media screen and (max-width: 350px) {
    .card__header h2 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .block-cards .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* App Block */
.block--qr-code .container {
    align-items: center;
    justify-content: center;
}

.block--qr-code .qr-code {
    border-color: var(--color-accent);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: 10px;
    height: 100%;
    margin: 40px 0 0;
    max-width: 250px;
}

.block--qr-code .block__penguin img {
    position: absolute;
    transform: translateY(-150px) scaleX(-1);
    width: 0;
}

.block--qr-code .link__btn {
    margin-top: 17px;
}

@media screen and (max-width: 767px) {
    .block--qr-code .container {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .block--qr-code .container {
        justify-content: space-between;
    }

    .block--qr-code .qr-code {
        margin: 0 0 0 40px;
        max-width: 170px;
    }
}

@media screen and (min-width: 1300px) {
    .block--qr-code .block__text {
        max-width: 525px;
    }

    .block--qr-code .qr-code {
        margin-left: 0;
    }

    .block--qr-code .block__penguin {
        display: flex;
        height: 100%;
        width: 340px;
    }

    .block--qr-code .block__penguin img {
        width: 340px;
    }
}

/* Ratings Block */
.block--ratings .container {
    align-items: center;
}

.block--ratings .block__text .link--arrow {
    margin: 10px 0;
    transform: translateX(-10px);
}

.block--ratings .block__penguin img {
    margin-left: 0;
    transition: width .2s;
    width: 0;
}

@media screen and (min-width: 1024px) {
    .block--ratings .block__penguin img {
        margin-left: 70px;
        width: 300px;
    }
}

/* Mail Block */
.block--mail .container {
    align-items: center;
    justify-content: flex-start;
}

.block--mail__column-left {
    max-width: 460px;
}

.block--mail__column-left .block__header,
.block--mail__column-left .block__form {
    width: 100%;
}

.block--mail__column-left .block__form {
    grid-gap: var(--form-gap);
    grid-template-columns: repeat(2, 1fr)
}

.block--mail__column-left .block__form .long {
    grid-column: span 2;
}

.block--mail__column-left .link {
    border-radius: var(--border-radius);
}

.block--mail__column-right {
    margin-top: 40px;
    max-width: 460px;
}

.block--mail__column-right .block__paragraph .block__sub-heading {
    margin-top: 0;
}

.block--mail .block__penguin {
    position: absolute;
    transform: translateX(920px) rotate(20deg) scaleX(-1);
    width: 430px;
}

@media screen and (max-width: 1023px) {
    .block--mail .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    .block--mail__column-left > .block__form * {
        grid-column: span 2;
    }
}

@media screen and (min-width: 1024px) {
    .block--mail .container {
        align-items: flex-start;
    }

    .block--mail__column-right {
        margin: 0 0 0 80px;
        max-width: 440px;
    }
}

/* Question Block */
.block--question .container {
    align-items: center;
    justify-content: flex-start;
}

.block--question .block__header,
.block--question .block__form {
    width: 100%;
}

.block--question .block__form {
    grid-gap: var(--form-gap);
    grid-template-columns: repeat(4, 1fr);
    overflow: visible;
}

.block--question .block__form .long {
    grid-column: span 2;
}

.block--question .block__form .wide {
    grid-row: span 2;
}

.block--question .link {
    border-radius: var(--border-radius);
    grid-column: span 4;
    grid-row: 3;
}

.block--question #email {
    grid-row: 2;
}

.block--question #message {
    resize: none;
}

.block--question .block__penguin {
    position: absolute;
    transform: translateX(970px) rotate(30deg) scaleX(-1);
    width: 313px;
}

@media screen and (max-width: 1023px) {
    .block--question .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 947px) {
    .block--question .block__form {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .block--question .link {
        grid-column: span 2;
        grid-row: 7;
    }

    .block--question #message {
        grid-row: span 4;
    }
}

@media screen and (max-width: 425px) {
    .block--question .block__form {
        grid-template-rows: repeat(8, 1fr);
    }

    .block--question .block__form > * {
        grid-column: span 2;
    }

    .block--question .link {
        grid-row: 8;
    }
}

@media screen and (min-width: 1024px) {
    .block--question .container {
        align-items: flex-start;
    }
}

@media screen and (min-width: 948px) {
    .block--question #message {
        transform: translateY(-115px);
        height: calc(100% + 115px);
        flex-wrap: wrap;
    }
}

/* Bottom Block */
.block--bottom {
    font-size: 1.2rem;
    padding: 40px 0 50px;
    margin-bottom: 10px;
}

.block--bottom .container {
    justify-content: space-between;
}

.block--bottom .column_heading {
    color: var(--color-light);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.block--bottom .list {
    font-size: 1.2rem;
}

.block--bottom .list a {
    color: #ccc;
    display: block;
    margin: -0.9rem 0;
    transition: color .1s;
}

.block--bottom .list a:hover {
    color: var(--color-light);
}

.block--bottom .copyright {
    color: #d9d9d9;
}

.block--bottom .break {
    height: 0;
    flex-basis: 100%;
}

.block--bottom .divider {
    background: var(--color-light);
    height: 0.25px;
    flex-basis: 100%;
}

/* About Page */
.block--instructions--preview .block__header {
    text-align: center;
}

.block-page-header.about {
    margin-top: 0;
    padding: 80px 0;
}

.about .block-page-header__heading {
    color: var(--color-light);
    margin: 0;
}

/* Business Page */
.block--colored.about--business {
    background: var(--color-business);
}

.block--light.about--business .block__heading {
    color: var(--color-business);
}

/* Business Page */
.block--colored.about--training {
    background: var(--color-alternative1);
}

.block--light.about--training .block__heading {
    color: var(--color-alternative1);
}