@import './normalize.css';

:root {
    --border-radius: 15px;
    --border-radius-small: 5px;
    --color-primary: #18c701;
    --color-secondary: #343434;
    --color-light: #fff;
    --color-hover-light: #d9d9d9;
    --color-accent: #2cff10;
    --color-headings: var(--color-primary);
    --color-headings-var: var(--color-light);
    --color-body: var(--color-secondary);
    --color-body-var: var(--color-light);
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography */
::selection {
    background: var(--color-accent);
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--color-body);
    font-family: DM Sans, Inter, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--color-headings);
}

h2,
h3,
h4 {
    font-family: Inter, DM Sans, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 8rem;
    font-weight: 900;
    line-height: 10.5rem;
    margin: 0 0 2rem 0;
    text-align: center;
}

h2 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.9rem;
    margin: 0 0 3rem 0;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
}

h4 {
    font-weight: 600;
    margin: 0;
}

.section-header {
    margin-bottom: 4rem;
}

.color .section-header {
    margin-bottom: 2rem;
}

p {
    margin: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.6rem;
    }

    h1 {
        font-size: 10rem;
    }

    h3 {
        font-size: 2.5rem;
    }
}

/* Links */
a {
    text-decoration: none;
}

.link {
    border-radius: var(--border-radius-small);
    display: inline-block;
    font-size: 1.8rem;
    margin: 1rem;
    transition: background-color .15s;
}

.link--arrow {
    color: var(--color-primary);
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 1rem;
}

.link--arrow:hover {
    background: rgba(44, 255, 16, .3);
}

.link__arrow {
    transition: margin .15s;
}

.link--arrow:hover .link__arrow {
    margin-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
    .link {
        font-size: 1.4rem;
    }
}

