<section class="block block--dark block--bottom">
  <div class="container">
    <div class="block__text students">
      <header class="column__header">
        <h4 class="column_heading">Students</h4>
      </header>
      <div class="list">
        <a href="#">How it Works</a>
        <a href="#">FAQs</a>
        <a href="#">Tips for Getting Hired</a>
        <a href="#">Payment & Earnings</a>
        <a href="#">Support</a>
      </div>
    </div>
    <div class="block__text students">
      <header class="column__header">
        <h4 class="column_heading">Businesses</h4>
      </header>
      <div class="list">
        <a href="#">How it Works</a>
        <a href="#">FAQs</a>
        <a href="#">Pricing & Fees</a>
        <a href="#">Advice for Job Posting</a>
      </div>
    </div>
    <div class="block__text students">
      <header class="column__header">
        <h4 class="column_heading">Account</h4>
      </header>
      <div class="list">
        <a href="#">Sign Up</a>
        <a href="#">Log In</a>
        <a href="#">Payment Settings</a>
        <a href="#">Delete Account</a>
      </div>
    </div>
    <div class="block__text students">
      <header class="column__header">
        <h4 class="column_heading">SHIFTLY&copy</h4>
      </header>
      <div class="list">
        <a href="#">About Us</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Blog</a>
        <a href="#">Contact Us</a>
      </div>
    </div>
  </div>
</section>
