<section class="block block--colored block--app">
  <div class="container">
    <div class="block__text">
      <header class="block__header">
        <h2>Download the Shiftly App – Find Work, Get Paid, Stay Flexible!</h2>
      </header>
      <div class="block__paragraph">
        <p>
          With the Shiftly app, you can quickly find and book short-term jobs
          that fit your schedule. Browse available shifts, apply with a tap, and
          get hired instantly—no long applications or interviews. Track your
          earnings in real-time, receive secure payments, and manage your work
          schedule all in one place. Take control of your work life today.
        </p>
      </div>
    </div>
    <img
      src="./images/Rickrolling_QR_code.png"
      alt="Rickrolled"
      class="qr-code"
    />
    <div class="block__penguin">
      <img src="images/LogoPenguin.svg" alt="" />
    </div>
  </div>
</section>
