<section class="block block--colored block--mail">
  <div class="block__text">
    <div class="container">
      <div class="block__text block--mail__column-left">
        <header class="block__header">
          <h2>Stay in the Loop.<br />Join Our Mailing List!</h2>
        </header>
        <div class="block__form grid">
          <input
            aria-label="First name"
            type="text"
            class="input input--colored-bg"
            placeholder="First Name"
          />
          <input
            aria-label="Last name"
            type="text"
            class="input input--colored-bg"
            placeholder="Last Name"
          />
          <input
            aria-label="First name"
            type="email"
            class="input input--colored-bg long"
            placeholder="Email"
          />
          <a href="" class="link link__btn link__btn--colored-bg long"
            >Submit</a
          >
        </div>
      </div>
      <div class="block__text block--mail__column-right">
        <div class="block__paragraph">
          <h3 class="block__sub-heading">Why Join?</h3>
          <p>
            Stay in the loop! Sign up for important updates, platform news, and
            helpful insights on making the most of Shiftly. Whether you're
            looking for flexible work or need extra hands on short notice, our
            mailing list keeps you informed. Join now and be part of the Shiftly
            community!
          </p>
        </div>
      </div>
      <div class="block__penguin">
        <img src="images/LogoPenguin.svg" alt="" />
      </div>
    </div>
  </div>
</section>
