<section class="block block--light block--faq">
  <div class="container">
    <div class="block__text">
      <header class="block__header">
        <h2 class="block__heading">Frequently Asked Questions (FAQs)</h2>
      </header>
      <div class="block__paragraph">
        <h3 class="block__sub-heading">Students</h3>
        <h4>How do I sign up as a student?</h4>
        <p>
          Sign up with your .edu email, create a profile, and start applying for
          shifts.<br /><br />
        </p>
        <h4>How does payment work?</h4>
        <p>Students are paid directly by the restaurant.<br /><br /></p>
        <h4>Do students need prior experience?</h4>
        <p>No experience required! Sign up and browse the various jobs.</p>
      </div>
      <div class="block__paragraph">
        <h3 class="block__sub-heading">Businesses</h3>
        <h4>How do I sign up as a business?</h4>
        <p>
          Create a business account, agree to our Terms of Service, and start
          posting shifts.<br /><br />
        </p>
        <h4>Is there a fee for businesses?</h4>
        <p>
          Posting shifts is free. A 30% service fee applies only when a shift is
          filled.<br /><br />
        </p>
        <h4>How do you ensure the qualifications of the sutdent workers</h4>
        <p class="last">
          Businesses can set requirements for certain ratings, Shiftly badges,
          language fluency, and more for shifts.
        </p>
      </div>
    </div>
  </div>
</section>
