<section class="block block--colored block--question">
  <div class="block__text">
    <div class="container">
      <div class="block__text">
        <header class="block__header">
          <h2>Have a Question?<br />Message Us!</h2>
        </header>
        <div class="block__form grid">
          <input
            aria-label="First name"
            type="text"
            class="input input--colored-bg"
            placeholder="First Name"
          />
          <input
            aria-label="Last name"
            type="text"
            class="input input--colored-bg"
            placeholder="Last Name"
          />
          <input
            aria-label="First name"
            type="email"
            class="input input--colored-bg long"
            id="email"
            placeholder="Email"
          />
          <a href="" class="link link__btn link__btn--colored-bg">Submit</a>
          <textarea
            id="message"
            cols="30"
            rows="1"
            class="input input--colored-bg long wide"
          ></textarea>
        </div>
      </div>
      <div class="block__penguin">
        <img src="images/LogoPenguin.svg" alt="" />
      </div>
    </div>
  </div>
</section>
