<div style="padding: 3rem">
  <article class="card card--student">
    <header class="card__header">
      <h2>Students</h2>
    </header>
    <div class="card__text">
      <p>
        Freely and flexibly apply for jobs and sign up for shifts, all from your
        phone
      </p>
    </div>
    <a href="" class="link link--arrow card__link link--colored">
      Find flexible jobs now
      <i class="fa-solid fa-arrow-right-long link__arrow"></i>
    </a>
    <img src="images/LogoPenguin.svg" alt="" class="card__image" />
  </article>
  <article class="card card--business">
    <header class="card__header">
      <h2>Businesses</h2>
    </header>
    <div class="card__text">
      <p>Hire from a pool of motivated students to fill your shifts</p>
    </div>
    <a href="" class="link link--arrow card__link link--dark">
      Start hiring now
      <i class="fa-solid fa-arrow-right-long link__arrow"></i>
    </a>
    <img src="images/LogoPenguin.svg" alt="" class="card__image" />
  </article>
</div>
