<section class="block block--light">
  <div class="container">
    <div class="block__text">
      <header class="block__header">
        <h2 class="block__heading">Main Heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sit
          saepe nam repudiandae facere voluptatem facilis dolorem incidunt vitae
          consequuntur!
        </p>
      </header>
      <div class="block__paragraph">
        <h3 class="block__sub-heading">Subheading 1</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias
          dolorem aliquid quae cumque soluta ipsa adipisci eveniet tenetur
          minus, repellendus magni harum doloremque dolore voluptates at
          laudantium vero odio temporibus. Repellendus suscipit accusantium
          quasi earum voluptatum, velit mollitia aperiam, officiis, tempora
          illum vero beatae? Sapiente iusto odio ab ex qui!
        </p>
      </div>
    </div>
  </div>
</section>
<section class="block block--colored">
  <div class="block__text">
    <div class="container">
      <div class="block__text">
        <header class="block__header">
          <h2>Main Heading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sit
            saepe nam repudiandae facere voluptatem facilis dolorem incidunt
            vitae consequuntur!
          </p>
        </header>
        <div class="block__paragraph">
          <h3 class="block__sub-heading">Subheading 1</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias
            dolorem aliquid quae cumque soluta ipsa adipisci eveniet tenetur
            minus, repellendus magni harum doloremque dolore voluptates at
            laudantium vero odio temporibus. Repellendus suscipit accusantium
            quasi earum voluptatum, velit mollitia aperiam, officiis, tempora
            illum vero beatae? Sapiente iusto odio ab ex qui!
          </p>
        </div>
      </div>
      <div class="block__penguin">
        <img src="images/LogoPenguin.svg" alt="" />
      </div>
    </div>
  </div>
</section>
